*.class

# Package Files #
*.jar
*.war
*.ear

minecraft/paulscode/
minecraft/net/
minecraft/ibxm/
minecraft/cpw/
minecraft/assets/forge/
minecraft/Start.java
minecraft/mcpmod.info
minecraft/forge_logo.png
minecraft/forge_at.cfg
minecraft/forge_at.cfg~
minecraft/fmlversion.properties
minecraft/fml_marker.cfg
minecraft/fml_at.cfg
minecraft/deobfuscation_data-1.6.4.lzma
